<section style="background-color: rgb(243, 243, 243);">
    <section class="hero">
      <div class="hero-body" style="padding-top: 3rem;">
        <div class="container">
          <div class="content">
              <p class="title">Contact me!</p>
              <form class="notification box">
                <div class="field">
                    <label class="label">Your Name</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Your Name" required>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Your Email</label>
                    <div class="control ">
                      <input class="input" type="email" placeholder="Enter Your Email Address" required>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Your Phone Number</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Your Phone Number" required>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Describe what you want to contact me for here</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Your message" required></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-primary">Submit</button>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </section>
  </section>