<section style="background-color: rgb(243, 243, 243);">
    <section class="hero">
      <div class="hero-body" style="padding-top: 3rem;">
        <div class="container">
          <div class="columns notification is-centered is-multipleline">

            <div class="column is-one-third-desktop is-one-third-tablet">
              <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <img src="./assets/charges.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content has-text-centered">
                  <div class="content">
                    <p class="title has-text-centered is-4 py-5">12th | Physics Chapter 1 | Electric Charge and Field | Electrostatics| Physics</p>
                    Let learn the concept of Electric Charge and Field
                  </div>
                  <button class="button is-primary is-outlined" [routerLink]="['videos']">Start Courses >> </button>
                </div>
              </div>
            </div>

            <div class="column is-one-third-desktop is-one-third-tablet">
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="./assets/Reflection.jpg" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content has-text-centered">
                    <div class="content">
                      <p class="title has-text-centered is-4 py-5">10th Physics Reflection and Refraction of Light</p>
                      Let learn the concept of Reflection and Refraction of Light.
                    </div>
                    <button class="button is-primary is-outlined" [routerLink]="['videos']">Start Courses >> </button>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </section>
  </section>