<section style="background-color: rgb(243, 243, 243);">
  <section class="hero">
    <div class="hero-body" style="padding-top: 3rem;">
      <div class="container">
        <div class="columns notification is-centered is-multipleline">

          <div class="column is-one-third-desktop is-one-third-tablet" *ngFor="let data of data;">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src= "{{ data.snippet.thumbnails.medium.url }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content has-text-centered">
                <div class="content">
                  <p class="title has-text-centered is-4 py-5">{{ data.snippet.title }}</p>
                </div>
                <a class="button is-primary is-outlined" routerLink="/video/?id={{data.id}}" >Start Courses >> </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</section>